@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

#main-search-bar {
  width: 70%;
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 500px) {
  .w-36 {
    width: 5rem;
  }

  #main-search-bar {
    width: 100%;
    flex-direction: column;
  }

  #clear-button {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  #github-text {
    padding-left: 0;
    padding-right: 0;
  }

  #search-bar-input-text {
    padding-right: 0;
  }

  .text-lg {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  #home-about {
    flex-wrap: wrap;
  }

  #github-text {
    padding-left: 0;
    padding-right: 0;
  }

  #github-text a {
    font-size: 1rem;
  }

  #search-bar-input-text {
    padding-right: 0;
  }
}
